*{
    cursor: url('./hammer.png') 50 50, pointer
}

body{
    background-color: green;
}

.mole{
    position: absolute;
    width: 10vh;
    height: 10vh;
    background-image: url('mole.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.points, .time{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 3em;
    color: white;
}

.messages{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0;
    font-size: 3em;
    color: red;
}